<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LongB-BLOG</title>
    <link rel="shortcut icon" href="__PUBLIC__/home/img/v3.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/home/css/index.css">

    <link rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css">

    <script src="__PUBLIC__/home/js/jquery.min.js"></script>

    <script src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/home/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/component.css" />
</head>
<body>
<div class="container header">
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
    <!-- <h2>WelCome</h2> -->
      <a class="" href="#">
      <img src="__PUBLIC__/home/img/v3.png" style="width: 11%;vertical-align:middle; ">
    </a>
    <b style="color: #95FF9D;font-size: 19pt">燈龍仔--Blog[<i style="font-size: 18px;color: #fbbfc7;font-weight:normal;">只要肯付出，终会有收获！</i>]</b>
    </div>
    </div>
    </nav>
</div>
<section class="section section--menu left" id="" style="height: 24px; margin-left: 0%;" >
        <span class="link-copy"></span>
            <nav class="menu menu--horatio">
                <ul class="menu__list">
                    <li class="menu__item"><a class="menu__link index">摘要列表</a></li>
                    <li class="menu__item menu__item--current"><a class="menu__link content">标签列表</a></li>
                    <li class="menu__item"><a class="menu__link messag">留言板</a></li>
                </ul>
            </nav>
    </section>
    <script type="text/javascript">
    $('.index').click(function() {
        location.href="{:U('index')}";
    });
    $('.content').click(function() {
        location.href="{:U('Contents')}";
    });
    $('.messag').click(function() {
        location.href="{:U('message')}";
    });
</script>
<!-- <div class="menu" >
    <div class="contents-btn" align="right">
        <ul  class="con" >

            <li  >
                 <div class="btn-default bt" style="border-radius: 12px;padding:5px 2px 5px 2px; ">
                <a href="{:U('index')}" type="submit" class=" " style="font-size: 14px;">摘要列表</a>
                </div>
            </li>
            <li>
                <div class="btn-default bt" style="border-radius: 12px;padding:5px 2px 5px 2px;">
                <a href="{:U('Contents')}" type="submit" class=" " style="font-size: 14px;">标题列表</a>
                </div>
            </li>
            <li>
                <div class="btn-default bt" style="border-radius: 12px;padding:5px 2px 5px 2px;">
                <a href="{:U('message')}" type="submit" class=" " style="font-size: 14px;">留&nbsp;&nbsp;言&nbsp;&nbsp;板</a>
                </div>
            </li>
        </ul>
    </div>
</div> -->
<div class="pull-left" >
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane" id="home">

    </div>
    <div role="tabpanel" class="tab-pane  active" id="profile">
        <table id='list' width="100%">
        <foreach name='blog' item='v'>
        <tr>
            <td> <div id="id" class='title' style="font-size: 22px;" ><a id="" href="{:U('read',array('id'=>$v['bid']))}">{$v.title}</a></div>
            </td>
        </tr>
        <tr>
        <td>
            <div class="" style="color: gray;font-size: 12px;">标签：{$v.tag}</div>
        </td>
        </tr>
        <tr></tr>
        <tr>
        <td>
            <div align="left" class='time' style="margin-left:0;
            margin-top:3px;font-size: 12px;color: gray;">发布日期：{$v.createtime}</div>
        </td>
        </tr>
        </foreach>
        </table>
        <div align="center" id="changpage"></div>
    </div>

    <div role="tabpanel" class="tab-pane" id="messages">3.</div>
  </div>
</div>

<div class="body">
<div class="pull-right">

    <div class="info">
    <div class="he ca" align='center'><p>Calendar</p></div>


    </div>
    <div class="sea" >
    <div class="he" align="center"><span>Search</span></div>
       <div class="panel_head"></div>
        <div  class="form">
        <form action="{:U('search')}" name="search">
        <table border="0" cellpadding="0" cellspacing="0" class="tab_search" align="center">
            <tr>
                <td>
                    <input type="text"  title="Search" class="searchinput keywords" id="searchinput keywords" name="keywords" onkeydown="if (event.keyCode==13) {}" onblur="if(this.value=='')value='&nbsp;';" onfocus="if(this.value=='&nbsp;')value='';" value="&nbsp;" size="14"/>
                </td>
                <td>
                    <input type="image" width="" id="search" height="17" class="searchaction" onclick="if(document.forms['search'].searchinput.value=='- Search Something -')document.forms['search'].searchinput.value='';" alt="Search" src="__PUBLIC__/home/img/search.png" border="0" hspace="2"/>
                </td>
            </tr>
        </table>
        </form>
        </div>
    </div>
    <div class="tag-view">
    <div class="he" align="center"><p>Taglist</p></div>
        <div class="listtag">
        <table>
        <foreach name="tag" item='v'>
        <tr class="" name="">
        <td><a class="" style="font-size: ;margin: 0px 5px 0px 5px" id="" href="{:U('count',array('tag'=>$v['tid']))}">{$v.tag}</a></td>
        <td><span class="badge">{$v.num}</span></td>
        </tr>
        </foreach>
        </table>
        </div>

    </div>
    <div class="message">
    <div class="he" align="center"><label class="lab">message</label></div>
        <div id="message" class="mess">
            <div class="lab">&nbsp;&nbsp;<b>最新留言：</b></div>

        <foreach name='wish' item='v'>
        <div>&nbsp;<img src="__PUBLIC__/home/img/person2.png"><m style="color: #0090f9;font-size: 15px"><b>{$v.username}</b></m>&nbsp;&nbsp;<m style="color: gray; font-size: 12px;">第{$v.id}楼</m></div>
        <div class="text"><p style="">{$v.content}</p></div>
        <div class="time" ><div style="color: gray; font-size: 12px;">{$v.time|date='Y-m-d H:i',###}</div></div>
        </foreach>

            <div id="mes"></div>
        </div>
        <!-- <div id="mess-view" class=""></div> -->
        <div id="mess-add" >
            <a href="{:U('message')}" type="submit" class="btn btn-default" >MORE</a>
        </div>
    </div>
    <div class="other">
    <div class="he" align="center"><p>other</p></div>

    </div>

</div>

    <div class="sear pull-left">

    </div>
</div>
<script src="__PUBLIC__/home/js/page.js"></script>
<script src="__PUBLIC__/home/js/classie.js"></script>
<script src="__PUBLIC__/home/js/clipboard.min.js"></script>
<script>
$(function(){
  $('.nav a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
   });
</script>
</body>

</html>