<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>LongB-BLOG</title>
        <link rel="shortcut icon" href="__PUBLIC__/home/img/v3.png"/>
        <meta name="description" content="A responsive, magazine-like website layout with a grid item animation effect when opening the content" />
        <meta name="keywords" content="grid, layout, effect, animated, responsive, magazine, template, web design" />
        <meta name="author" content="Codrops" />
        <script src="__PUBLIC__/home/js/jquery.min.js"></script>

        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/demo.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/component.css" />
<!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/normalize.css" /> -->
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/fonts/font-awesome-4.3.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/style1.css" />
        <script src="__PUBLIC__/home/js/modernizr.custom.js"></script>
    </head>
    <body>

        <div class="container" style="">
        <button id="menu-toggle" class="menu-toggle" style="top: 2px"><span>Menu</span></button>
            <div id="theSidebar" class="sidebar" style="width: 23%;margin-left: 1%;background: #F5F5F5;padding: 1%;">
                <button class="close-button fa fa-fw fa-close" style="top: 0px; padding-top: 5px"></button>
                <nav class="menu menu--horatio" style="width: ;font-size: 14px;margin: 28px 5px;">
                        <ul class="menu__list">
                        <li class="menu__item menu__item--current" style="margin: 1px"><a class="menu__link index">摘要列表</a></li>
                        <li class="menu__item" style="margin: 1px"><a class="menu__link contents">标签列表</a></li>
                        <li class="menu__item" style="margin: 1px"><a class="menu__link messag">留言板</a></li>
                        </ul>
                        </nav>
                <div  class="form" style="border: 1px #fff solid; height: 60px">
                <form action="{:U('search')}" name="search">
                <table border="0" cellpadding="0" cellspacing="0" class="tab_search" align="center">
                    <tr>
                    <td id="searchw">
                    <input type="text"  title="Search" style="margin-top: 11px;width: 99%" class="searchinput keywords" id="searchinput keywords" name="keywords" onkeydown="if (event.keyCode==13) {}" onblur="if(this.value=='')value='&nbsp;';" onfocus="if(this.value=='&nbsp;')value='';" value="&nbsp;" size=""/>
                    </td>
                    <td>
                    <input type="image" width="" id="search" height="17" style="height: 35px;vertical-align:middle;margin-top: 11px" class="searchaction" onclick="if(document.forms['search'].searchinput.value=='- Search Something -')document.forms['search'].searchinput.value='';" alt="Search" src="__PUBLIC__/home/img/search.png" border="" hspace="2"/>
                    </td>
                    </tr>
                </table>
                </form>
                </div>
                <div class="listtag" style="height: 160px;margin-top: 5px;border: 1px #fff solid">
                    <div class="he" align="left">Taglist</div>
                    <ul class="menu__list">
                    <foreach name="tag" item='v'>
                    <li><a class="" style="font-size: ;margin: 0px 5px 0px 5px" id="" href="{:U('count',array('tag'=>$v['tid']))}">{$v.tag}</a>
                    <span class="badge">[{$v.num}]</span>
                    </li>
                    </foreach>
                    </ul>
                </div>
                <div class="messa" align="left" style="border:1px #fff solid;margin-top: 5px" >
                    <div id="messag" class="mess">
                    <div class="lab">最新留言：(<a href="{:U('message')}" type="submit" class="btn btn-default" >MORE</a>)</div>
                    <foreach name='wish' item='v'>
                        <div><m style="color: #0090f9;font-size: 14px"><b>{$v.username}</b></m>&nbsp;&nbsp;<m style="color: gray; font-size: 12px;">第{$v.id}楼</m></div>
                        <div style="height: 36px; font-size:14px; overflow :hidden;text-overflow: ellipsis; margin-top: -10px">
                        <m>{$v.content}</m>
                        </div>
                        <div style="color: gray; font-size: 12px;">
                        {$v.time|date='Y-m-d H:i',###}
                        </div>
                    </foreach>
                    </div>
                </div>

            </div>

            <div id="theGrid" class="main" id="list" style=" ">
                <section class="grid" style="margin-right: 1%;border: ">
                    <header class="top-bar" style="border: 3px #e5f5f5 solid;background: #f5f5f5;padding-top: 2px;padding-bottom: 7px;margin-bottom: 5px;" >
                        <!-- <div> -->
                        <div class="hide" style="display: none;">
                        <a href="{:U('index')}" class="top-bar__headline" style=";display:;" align='center'>
                        <img src="__PUBLIC__/home/img/v3.png" style="width: 18%;vertical-align:middle; ">
                        <b style="color: #95FF9D;font-size: 20pt">燈龍仔--Blog[<i style="font-size: 18px;color: #fbbfc7;font-weight:normal">只要肯付出，终会有收获！</i>]</b>
                        </a>
                        </div>
                        <div class="" align="center" style="width: 100%">
                        <a><b>click me</b></a>
                        </div>
                    </header>

                    <script type="text/javascript">
                        $(document).ready(function() {
                        $('.top-bar').click(function() {
                            $('.hide').slideToggle('slow');
                           });
                        });
                    </script>

                    <foreach name='blog' item='v'>
                    <a class="grid__item" href="#">
                        <div class="title title--preview">{$v.title}</div>
                    <div class="loader"></div>
                        <div class="meta meta--preview">

                        <div class="" style="height: 50px;  overflow :hidden;text-overflow: ellipsis;">{$v.content}</div>
                        <span class="meta__date"><i class="fa fa-calendar-o"></i>{$v.createtime} </span>
                        <span class="meta__reading-time">标签：{$v.tag}</span>
                        </div>
                    </a>
                    </foreach>

                    <footer class="page-meta">
                    <p id="back-to-top" style="margin-right: ; "><a href="#top">返回顶部<img src="__PUBLIC__/home/img/up.png"/></a></p>
                    </footer>
                    <script>
                        $(function(){
                        //当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失
                        $(function () {
                            $(window).scroll(function(){
                                if ($(window).scrollTop()>250){
                                    $("#back-to-top").fadeIn(1500);
                                }
                                else
                                {
                                    $("#back-to-top").fadeOut(1500);
                                }
                            });
                            //当点击跳转链接后，回到页面顶部位置
                            $("#back-to-top").click(function(){
                                $('body,html').animate({scrollTop:0},1000);
                                return false;
                            });
                        });
                    });
                </script>
                </section>
                <section class="content" style="border: 1px #f5f5f5 solid;background: #fff">

                    <div class="scroll-wrap">
                    <foreach name='blog' item='v'>
                        <article class="content__item">
                            <div class="title title--full">{$v.title}</div>
                            <div class="meta meta--full">
                                <span class="meta__author" style="color: #dcdcdc">燈龍仔</span>
                                <span class="meta__date"><i class="fa fa-calendar-o"></i>{$v.createtime}</span>
                                <span class="meta__reading-time">标签：{$v.tag}</span>
                            </div>
                            {$v.content}
                        </article>
                        </foreach>
                    </div>
                    <button class="close-button"><i class="fa fa-close"></i><span>Close</span></button>

                </section>
            </div>
    </div>
    <script type="text/javascript">
        $('.index').click(function() {
            location.href="{:U('index')}";
        });
        $('.contents').click(function() {
            location.href="{:U('Contents')}";
        });
        $('.messag').click(function() {
            location.href="{:U('message')}";
        });
    </script>
        <script src="__PUBLIC__/home/js/classie.js"></script>
        <script src="__PUBLIC__/home/js/main.js"></script>
        <script src="__PUBLIC__/home/js/clipboard.min.js"></script>
        <!-- <script src="__PUBLIC__/home/js/page.js"></script> -->

    </body>
</html>
