<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MY Blog</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{$Think.const.CSS_URL}index.css">

    <link rel="stylesheet" href="{$Think.const.CSS_URL}bootstrap.min.css">

    <script src="{$Think.const.JS_URL}jquery.min.js"></script>

    <script src="{$Think.const.JS_URL}bootstrap.min.js"></script>
    <script src="{$Think.const.JS_URL}index.js"></script>

</head>
<body>
<div class="container header">
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
    <h2>WelCome</h2>
      <a class="navbar-brand" href="#">
        <!-- <img alt="Brand" src="{$Think.const.IMG_URL}"> -->

      </a>
    </div>
    </div>
    </nav>
</div>
<div class="menu" >
    <div class="contents-btn" align="right">
        <ul  class="con" >

            <li  >
                 <div class="btn-default bt">
                <a href="#" type="submit" class="btn " >摘要列表</a>
                </div>
            </li>
            <li>
                <div class="btn-default bt">
                <a href="{:U('Contents')}" ttype="submit" class="btn " >标题列表</a>
                </div>
            </li>
            <li>
                <div class="btn-default bt">
                <a href="{:U('message')}" type="submit" class="btn " >留&nbsp;&nbsp;言&nbsp;&nbsp;板</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="pull-left" >
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="home">
    <table id="list" width="100%">
    <foreach name='blog' item='v'>
        <tr>
            <td >
            <div id="id" align="center" class='title' style="font-size: 23px;"><a id="" href="{:U('read',array('id'=>$v['bid']))}">{$v.title}</a>
            </div>
            </td>
        </tr>
        <tr>
            <td><div style="color: gray; font-size: 12px;">&nbsp;标签：{$v.tag}</div></td>
        </tr>
        <tr>
            <td>
            <div class='summary' style="font-size: 14px;"><p>{$v.content}</p></div>
            </td>
        </tr>
        <tr width="100%" align="right">
            <td >
            <div class='time' style="color: gray;font-size: 12px;">发布于：{$v.createtime}</div>
            </td>
        </tr>
    </foreach>
    </table>
      <br>
     <div align="center" id="changpage"></div>
    </div>
  </div>
</div>

<div class="body">
<div class="pull-right">

    <div class="info">
    <div class="he ca" align='center'><p>Calendar</p></div>


    </div>
    <div class="sea" >
    <div class="he" align="center"><span>Content-Search</span></div>
       <div class="panel_head"></div>
        <div  class="form">
        <form action="#" name="search">
        <table border="0" cellpadding="0" cellspacing="0" class="tab_search" align="center">
            <tr>
                <td>
                    <input type="text" name="q" title="Search" class="searchinput" id="searchinput" onkeydown="if (event.keyCode==13) {}" onblur="if(this.value=='')value='- Search Something -';" onfocus="if(this.value=='- Search Something -')value='';" value="- Search Something -" size="14"/>
                </td>
                <td>
                    <input type="image" width="" height="17" class="searchaction" onclick="if(document.forms['search'].searchinput.value=='- Search Something -')document.forms['search'].searchinput.value='';" alt="Search" src="{$Think.const.IMG_URL}search.png" border="0" hspace="2"/>
                </td>
            </tr>
        </table>
        </form>
        <!-- <form action="" method="post" class="form-inline" >
        <div class="form-group input">
        <input class="form-control" type="text" name="search" placeholder="something">
        </div>
        <div class="form-group input">
        <input type="submit" class="btn btn-default"><span class=""></span></input>
        </div>
        </form> -->
        </div>
    </div>
    <div class="tag-view">
    <div class="he" align="center"><p>Taglist</p></div>
        <div class="listtag">
        <table>
        <foreach name="tag" item='v'>
        <tr class="" name="">
        <td><a class="" style="font-size: ;margin: 0px 5px 0px 5px" id="" href="{:U('count',array('tag'=>$v['tid']))}">{$v.tag}</a></td>
        <td><span class="badge">{$v.num}</span></td>
        <!-- <li><a class="" style="font-size: ;margin: 0px 5px 0px 5px" id="" href="{:U('count',array('tag'=>'1'))}">其他</a><span class="badge">{$count1}</span></li>
        <li><a id="" style="font-size: ;margin: 0px 5px 0px 5px" href="{:U('count',array('tag'=>'2'))}">随笔</a><span class="badge">{$count2}</span></li>
        <li><a id="" style="font-size: ;margin: 0px 5px 0px 5px" href="{:U('count',array('tag'=>'3'))}">PHP</a><span class="badge">{$count3}</span></li>
        <li><a id="" style="font-size: ;margin: 0px 5px 0px 5px" href="{:U('count',array('tag'=>'4'))}">前端</a><span class="badge">{$count4}</span></li> -->
        </tr>
        </foreach>
        </table>
        </div>

    </div>
    <div class="message">
    <div class="he" align="center"><label class="lab">message</label></div>
        <div id="message" class="mess">
            <div class="lab">&nbsp;&nbsp;<b>最新留言：</b></div>

        <foreach name='wish' item='v'>
        <div>&nbsp;<img src="{$Think.const.IMG_URL}person2.png"><m style="color: #0090f9;font-size: 15px"><b>{$v.username}</b></m>&nbsp;&nbsp;<m style="color: gray; font-size: 12px;">第{$v.id}楼</m></div>
        <div class="text"><p style="">{$v.content}</p></div>
        <div class="time" ><div style="color: gray; font-size: 12px;">{$v.time|date='Y-m-d H:i',###}</div></div>
        </foreach>

            <div id="mes"></div>
        </div>
        <!-- <div id="mess-view" class=""></div> -->
        <div id="mess-add" >
            <a href="{:U('message')}" type="submit" class="btn btn-default" >MORE</a>
        </div>
    </div>
    <div class="other">
    <div class="he" align="center"><p>other</p></div>

    </div>

</div>

    <div class="sear pull-left">


    </div>


</div>
<script src="{$Think.const.JS_URL}page.js"></script>
<script>
$(function(){
  $('.nav a').click(function (e) {
  e.preventDefault()
  $(this).tab('show')
})
   });
</script>
</body>

</html>