<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LongB-BLOG</title>
    <link rel="shortcut icon" href="__PUBLIC__/home/img/v3.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/home/css/index.css">
    <link rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/js/froala/css/froala_editor.css">
  <link rel="stylesheet" href="__PUBLIC__/Admin/js/froala/css/froala_style.css">
  <link rel="stylesheet" href="__PUBLIC__/Admin/js/froala/css/plugins/code_view.css">
  <link rel="stylesheet" href="__PUBLIC__/Admin/js/froala/css/plugins/colors.css">
  <link rel="stylesheet" href="__PUBLIC__/Admin/js/froala/css/plugins/line_breaker.css">
    <link rel="stylesheet" href="__PUBLIC__/Admin/js/froala/css/themes/gray.css">
    <script src="__PUBLIC__/home/Js/jquery.min.js"></script>
    <script src="__PUBLIC__/home/Js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/component.css" />
    <style>
        .main {
            width: 74%;
            /*height: 1200px;*/
            margin-left: 13%;
            background: #ffe;
            padding: 1%;
        }
        .menu {
            /*margin-right: 10%;*/

        }
    </style>
</head>
<body>
<div class="container header">
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
    <h2>WelCome</h2>
      <a class="navbar-brand" href="#">
        <!-- <img alt="Brand" src="__PUBLIC__/home/img/"> -->
      </a>
    </div>
    </div>
    </nav>
</div>
<section class="section section--menu left" id="" style="height: 24px; margin-left: 0%;" >
        <span class="link-copy"></span>
            <nav class="menu menu--horatio">
                <ul class="menu__list">
                    <li class="menu__item "><a class="menu__link index">摘要列表</a></li>
                    <li class="menu__item"><a class="menu__link content">标签列表</a></li>
                    <li class="menu__item menu__item--current"><a class="menu__link messag">留言板</a></li>
                </ul>
            </nav>
    </section>
    <script type="text/javascript">
    $('.index').click(function() {
        location.href="{:U('index')}";
    });
    $('.content').click(function() {
        location.href="{:U('Contents')}";
    });
    $('.messag').click(function() {
        location.href="{:U('message')}";
    });
</script>
<div class="main" id="">
    <div id='main'>
    <div>留言板</div>
    <hr>
    <div>

        <legend>主人寄语</legend>
        <div style="height: 90px;"><blockquote><span style="color: rgb(26, 188, 156); font-size: 14px;">欢迎留言</span>
    <p><span style="color: rgb(250, 197, 28); font-size: 12px;">---</span><span style="color: rgb(147, 101, 184); font-size: 12px;">还有不少小问题，比如提交验证码输错后导致发布不成功而需要重新按&ldquo;添加留言按钮&rdquo;打开编辑器</span>
    </p>
</blockquote>
</div>
        <div class="collapse" id="collapseExample">
        <div class="well">
        <form name="form" method="post" action="{:U('addmessage')}" name="admin" onSubmit="return InputCheck(this)">
        <label>发表你的留言</label>
          <div class="form-group">
            <input type="text" class="form-control" id="name" name="name" autofocus="autofocus" placeholder="请输入用户名">
          </div>
          <div class="form-group">
            <textarea id="edit" name="edit" class="form-control" ></textarea>
          </div>
          <input class="btn " type="submit" value="发布" style="color: #fff;">
          <input id="code" name="code" type="text" class="input" placeholder="输入验证码" style="height: 32px; width: 14%;font-size: 16px;margin-left: 2%; padding-left: 1px;" /><!-- <img class="code" src="__CONTROLLER__/code" /> -->
          <img src="__CONTROLLER__/Verify" alt="点击刷新" height="35" align="bottom" class="code" style="cursor:pointer;"  onclick="javascript:this.src='__CONTROLLER__/Verify?d='+Math.random();" />(看不清点图片刷新)
        </form>
        </div>
        </div>
        <div style="font-size:16px"><b>留言(<i align="" id="chan"></i>)</b></div>

        <!-- <hr style="margin-top: -1px"> -->

    </div>
    <div id="list">
        <foreach name='wish' item='v'>

        <div><hr>&nbsp;<img src="__PUBLIC__/home/img/person.png"><m style="color: #0090f9;font-size: 15px"><b>{$v.username}</b></m>&nbsp;&nbsp;<m style="color: gray; font-size: 12px;">第{$v.id}楼</m></div>

        <div class="tex"><p style="">{$v.content}</p></div>

        <div class="time"><m style="font-size: 12px;margin-left: 24px;">{$v.time|date='Y-m-d H:i',###}</m><hr width="100%">
        </div>

        </foreach>
        </div>
        <hr>
    </div>

        <div class="left"></div>
        <button id="add" class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample" style="margin-top: -12px">
            添加留言
        </button><hr style="margin-top: -1px">
        <div align="center" id="changpage"></div>
</div>
<footer class = "" align="center">
      <div class = "row">
        <p class = "col-sm-4">&copy; 2016 燈龍仔</p>
        <ul class = "col-sm-8">
          <li class = "col-sm-1"><img src = "https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/twitter.svg"/></li>
          <li class = "col-sm-1"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/facebook.svg"></li>
          <li class = "col-sm-1"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/instagram.svg"></li>
          <li class = "col-sm-1"><img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/medium.svg"></li>
        </ul>
      </div>
    </footer>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
  <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script> -->

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/froala_editor.min.js" ></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/align.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/code_beautifier.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/code_view.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/colors.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/draggable.min.js"></script>
  <!-- <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/font_size.min.js"></script> -->
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/font_family.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/line_breaker.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/lists.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/paragraph_style.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/entities.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/char_counter.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/inline_style.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/save.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/quote.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/languages/ro.js"></script>
<script src="__PUBLIC__/home/Js/page2.js"></script>
<script src="__PUBLIC__/home/js/classie.js"></script>
<script src="__PUBLIC__/home/js/clipboard.min.js"></script>
<script>
    $(function(){
      $('#edit').froalaEditor({
        theme: 'gray',
        heightMin: 120,
        heightMax: 120,
      })
    });
    function InputCheck(WellForm)
    {
        if (WellForm.name.value == "")
        {
            alert("请输入用户名!");
            WellForm.name.focus();
            return (false);
        }
        if (WellForm.edit.value == "")
        {
            alert("内容不能为空!");
            WellForm.edit.focus();
            return (false);
        }
        if (WellForm.code.value == "")
        {
            alert("请输入验证码!");
            WellForm.code.focus();
            return (false);
        }
    }
  </script>
</body>

</html>