<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LongB-BLOG</title>
    <link rel="shortcut icon" href="__PUBLIC__/home/img/v3.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="__PUBLIC__/home/css/index.css">

    <link rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css">

    <script src="__PUBLIC__/home/js/jquery.min.js"></script>

    <script src="__PUBLIC__/home/js/bootstrap.min.js"></script>
     <script src="__PUBLIC__/home/js/index.js"></script>
</head>
<body>
<div class="container header">
    <nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-header">
    <h2>WelCome</h2>
      <a class="navbar-brand" href="#">
        <!-- <img alt="Brand" src="__PUBLIC__/home/img/"> -->
      </a>
    </div>
    </div>
    </nav>
</div>
<div class="menu" >
    <div class="contents-btn" align="right">
        <ul  class="con" >

            <li  >
                 <div class="btn-default bt" style="border-radius: 12px;padding:5px 2px 5px 2px; ">
                <a href="{:U(index)}" type="submit" class=" " style="font-size: 14px;">摘要列表</a>
                </div>
            </li>
            <li>
                <div class="btn-default bt" style="border-radius: 12px;padding:5px 2px 5px 2px;">
                <a href="{:U('Contents')}" type="submit" class=" " style="font-size: 14px;">标题列表</a>
                </div>
            </li>
            <li>
                <div class="btn-default bt" style="border-radius: 12px;padding:5px 2px 5px 2px;">
                <a href="{:U('message')}" type="submit" class=" " style="font-size: 14px;">留&nbsp;&nbsp;言&nbsp;&nbsp;板</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="pull-left" id="cont">
    <div id='main'>
        <foreach name='id' item='v'>


                <div align="center" class='title' style="font-size: 22pt;color: #48c9e9;">{$v.title}</div>

                <div class='summary' style=""><p>{$v.content}</p></div>

                <div align="right" class='time' style="font-size: 12px; color: gray;">标签：{$v.tag}&nbsp;&nbsp;&nbsp;&nbsp;发布于：{$v.createtime}</div>
        </foreach>
    </div>

        <div class="left"></div>
        <div  ></div>
    </div>
<div class="body">
<div class="pull-right">

     <div class="info">
    <div class="he ca" align='center'><p>Calendar</p></div>


    </div>
    <div class="sea" >
    <div class="he" align="center"><span>Search</span></div>
       <div class="panel_head"></div>
        <div  class="form">
        <form action="{:U(search)}" name="search">
        <table border="0" cellpadding="0" cellspacing="0" class="tab_search" align="center">
            <tr>
                <td>
                    <input type="text"  title="Search" class="searchinput keywords" id="searchinput keywords" name="keywords" onkeydown="if (event.keyCode==13) {}" onblur="if(this.value=='')value='&nbsp;';" onfocus="if(this.value=='&nbsp;')value='';" value="&nbsp;" size="14"/>
                </td>
                <td>
                    <input type="image" width="" id="search" height="17" class="searchaction" onclick="if(document.forms['search'].searchinput.value=='- Search Something -')document.forms['search'].searchinput.value='';" alt="Search" src="__PUBLIC__/home/img/search.png" border="0" hspace="2"/>
                </td>
            </tr>
        </table>
        </form>
        </div>
    </div>
    <div class="tag-view">
    <div class="he" align="center"><p>Taglist</p></div>
        <div class="listtag">
        <table>
        <foreach name="tag" item='v'>
        <tr class="" name="">
        <td><a class="" style="font-size: ;margin: 0px 5px 0px 5px" id="" href="{:U('count',array('tag'=>$v['tid']))}">{$v.tag}</a></td>
        <td><span class="badge">{$v.num}</span></td>
        </tr>
        </foreach>
        </table>
        </div>
    </div>
    <div class="message">
    <div class="he" align="center"><label class="lab">message</label></div>
        <div id="message" class="mess">
            <div class="lab">&nbsp;&nbsp;<b>最新留言：</b></div>

        <foreach name='wish' item='v'>
        <div>&nbsp;<img src="__PUBLIC__/home/img/person2.png"><m style="color: #0090f9;font-size: 15px"><b>{$v.username}</b></m>&nbsp;&nbsp;<m style="color: gray; font-size: 12px;">第{$v.id}楼</m></div>
        <div class="text"><p style="">{$v.content}</p></div>
        <div class="time" ><div style="color: gray; font-size: 12px;">{$v.time|date='Y-m-d H:i',###}</div></div>
        </foreach>

            <div id="mes"></div>
        </div>
        <!-- <div id="mess-view" class=""></div> -->
        <div id="mess-add" >
            <a href="{:U('message')}" type="submit" class="btn btn-default" >MORE</a>
        </div>
    </div>
    <div class="other">
    <div class="he" align="center"><p>other</p></div>

    </div>

</div>
</div>
</body>

</html>