<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="__PUBLIC__/home/css/bootstrap.min.css">

    <script src="__PUBLIC__/home/js/jquery.min.js"></script>

    <script src="__PUBLIC__/home/js/bootstrap.min.js"></script>
    <!-- <script src="{$Think.const.ADMIN_JS_URL}"></script> -->
    <!-- <link rel="stylesheet" href="{$Think.const.ADMIN_JS_URL}add.js"> -->
    <!-- <script type="text/javascript" src="{$Think.const.ADMIN_JS_URL}add.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="__PUBLIC__/Admin/js/froala/css/froala_editor.css">
  <link rel="stylesheet" href="__PUBLIC__/Admin/js/froala/css/froala_style.css">
  <link rel="stylesheet" href="__PUBLIC__/Admin/js/froala/css/plugins/code_view.css">
  <link rel="stylesheet" href="__PUBLIC__/Admin/js/froala/css/plugins/colors.css">
  <link rel="stylesheet" href="__PUBLIC__/Admin/js/froala/css/plugins/emoticons.css">
  <link rel="stylesheet" href="__PUBLIC__/Admin/js/froala/css/plugins/image_manager.css">
  <link rel="stylesheet" href="__PUBLIC__/Admin/js/froala/css/plugins/image.css">
  <link rel="stylesheet" href="__PUBLIC__/Admin/js/froala/css/plugins/line_breaker.css">
  <link rel="stylesheet" href="__PUBLIC__/Admin/js/froala/css/plugins/table.css">
  <link rel="stylesheet" href="__PUBLIC__/Admin/js/froala/css/plugins/char_counter.css">
  <link rel="stylesheet" href="__PUBLIC__/Admin/js/froala/css/plugins/video.css">
  <link rel="stylesheet" href="__PUBLIC__/Admin/js/froala/css/plugins/fullscreen.css">
  <link rel="stylesheet" href="__PUBLIC__/Admin/js/froala/css/plugins/file.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
  <link rel="stylesheet" href="__PUBLIC__/Admin/js/froala/css/themes/royal.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css"> -->

  <link rel="stylesheet" href="__PUBLIC__/Admin/css/index.css">

  <style>
    body {
      text-align: center;
    }

    div#editor {
      width: 80%;
      margin: auto;
      text-align: left;
    }

  </style>


</head>
<body>
<div class="header">welcome</div>
<div class="btn-group btn-group-justified" role="group" aria-label="..." style="width: 80%;margin-left: 10%">
  <div class="btn-group" role="group">
    <a href="{:U('index')}" type="submit" class="btn btn-success">主页信息</a>
  </div>
  <div class="btn-group" role="group">
    <a href="{:U('blog')}" type="submit" class="btn btn-success">博客管理</a>
  </div>
  <div class="btn-group" role="group">
    <a href="{:U('message')}" type="submit" class="btn btn-success">留言管理</a>
  </div>
  <div class="btn-group" role="group">
    <a type="submit" class="btn btn-success">信息中心</a>
  </div>
  <div class="btn-group" role="group">
    <a type="submit" class="btn btn-success">前往前台</a>
  </div>
  <div class="btn-group" role="group">
    <a type="submit" class="btn btn-warning">安全退出</a>
  </div>
</div>


  <script>
    function InputCheck(ChangbForm) {
    if (ChangbForm.title.value == "")
    {
        alert("标题不能为空!!");
        ChangbForm.title.focus();
        return (false);
    }
    if (ChangbForm.edit1.value == "")
    {
        alert("内容不能为空!");
        ChangbForm.edit1.focus();
        return (false);
    }
}
  </script>
    <script>
      $(function () {
        $('#edit').froalaEditor({
            heightMin: 450,
//            heightMax: 800,
            theme: 'royal'
        });
    });
    </script>
    <script>
$(function () {
        $('#edit1').froalaEditor({
            heightMin: 500,
//            heightMax: 800,
            theme: 'royal'
        });
    });
$(function () {
        $('#edit2').froalaEditor({
            heightMin: 180,
//            heightMax: 800,
            theme: 'royal'
        });
    });
    </script>
    <script>
      $(function(){
        $('#edit')
          .on('froalaEditor.initialized', function (e, editor) {
            $('#edit').parents('form').on('submit', function () {
              console.log($('#edit').val());
              return false;
            })
          })
          .froalaEditor({enter: $.FroalaEditor.ENTER_P, placeholderText: null, })

      });

  </script>

    <div role="tabpanel" class="tab-pane" id="deleteblog" style="width: 80%; margin-left: 10%; ">
    <div class="changb" style="width: 80%;;margin: 5% 0 0 10%">
      <form action="{:U('changeblog')}" method="post" name="changeblog" onSubmit="return InputCheck(this)">
    <foreach name='changeb' item='v'>
    <div class="tit">
    <input style="width: 100%" class="title form-control" name="title" id="title" type="text" autofocus="autofocus" value="{$v.title}"></input>

    </div>
        <textarea id='edit1' class="edit1" name="edit1" style="margin-top: 8px;">
           {$v.content}
        </textarea>
        </foreach>
        <div class="se">
        <button  type="" class="btn btn-default" name="btn">确认</button>
        <input  type="radio" name="id1" value="{$v.bid}" checked>
        <select name="tag" id = "tag" class="tag form-control pull-left">
        <foreach name="tag" item="v">
          <option name="{$v.tid}" value="{$v.tid}">{$v.tag}</option>

          </foreach>
        </select>

      </div>
        </form>
        </div>
    </div>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/froala_editor.min.js" ></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/align.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/code_beautifier.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/code_view.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/colors.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/draggable.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/emoticons.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/font_size.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/font_family.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/image.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/file.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/image_manager.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/line_breaker.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/link.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/lists.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/paragraph_format.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/paragraph_style.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/video.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/table.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/url.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/entities.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/char_counter.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/inline_style.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/save.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/fullscreen.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/plugins/quote.min.js"></script>
  <script type="text/javascript" src="__PUBLIC__/Admin/js/froala/js/languages/ro.js"></script>

</body>
</html>