* {
    /*background: #ededed;*/
}
body {
    background:#2d3b36 url(../img/8.jpg)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top:20px;
}
.container {
    height: 200px;
}
.carousel-inner {
    /*background:no-repeat center center fixed;*/
    /*width: 100%;*/
    height: 200px;
}

.pull-right {
    /*background: #58626D;*/
    width: 25%;
    height: 1100px;
    margin-right: 10%;

}

.pull-left {
    /*color: #00A000;*/
    /*background: #585858;*/
    background: #ffe;
    width: 55%;
    /*height: 100%;*/
    margin-left: 10%;
    padding: 1%;
}
.pull-left ul li {
    display: inline-block;
}
.menu ul li {
    display: inline-block;

}
.menu a:hover {
    text-decoration: none;
}
.bt {
    padding: 0px;
    margin-left: 5px;
    border-radius: 8%;
}
.bt a {
    font-size: 14px;
}
.con .bt  {
    /*background: #fbbfde;*/
    /*background: #049a03;*/
    background: #40caee;

}
.con .bt:hover {
    background: #fe70c7;
}
.bt a {
    color: #fff;
}
.bt a:hover {
    color: #fff;
}
.bt a:link {
    text-decoration: none;
    color: #fff;
}
.navigator li {
    display: inline-block;
}
.nav {
    margin-right: 20%;
}
.contents-btn {
    margin-right: 35%;
}
.he {

    height: 25px;
    background: #56ffdd;
}
.info {
     width: 95%;
     height: 250px;
     background: #ffe;
     margin: 0 2% 2% 2%;
     overflow :hidden;
    text-overflow: ellipsis;
 }
.sea {
    width: 95%;
    height: 90px;
    background: #ffe;
    /*background: #fff;*/
    margin: 2%;
    /*text-align: center;*/
}
/*search */
.searchinput{
    border-right-width: 0px;
    /*padding-left: 8px;*/
    width: 100%;
    /*font-family: impact;*/
    float: left;
    border-top-width: 0px;
    border-bottom-width: 0px;
    color: #cdcdcd;
    /*margin-left: 4px;*/
    font-size: 16pt;
    vertical-align: middle;
    border-left-width: 0px;
    /*padding-right: 10px;*/
    padding: 3px 8px 3px  8px;

}
.tab_search{
    border: #cccccc 1px solid;
    height: 25px;
    margin-top: 4%;
    background: #fff;

}
.searchaction{
    width: 30px;
    float: left;
    height: 30px;
    margin-right: 0%;
    margin-left: 0%;

}

/*.center-block {*/
       /*display: block;*/
       /*margin-left: auto;*/
       /*margin-right: auto;*/

/*}*/

.form-group {
    /*margin-top: 9%;*/

}
.tag-view {
    width: 95%;
    height: 200px;
    background: #ffe;
    margin: 2%;
}
.message {
    width: 95%;
    height: 300px;
    background: #ffe;
    margin: 2%;
}
.mess {
    height: 240px;
    overflow :hidden;
    text-overflow: ellipsis;
}
.lab {
    margin: 2px 0px 8px 0px;
}
 .text {
    font-size:14px;
    margin-left: 28px;
    height: 22px;
    overflow :hidden;
    /*text-overflow: ellipsis;*/
    width: 20em;
    margin-bottom: 4px;
    /*overflow: auto;*/
}
.time {
    color: gray;
    font-size: 12px;
    margin-left: 28px;
    margin-bottom: 3px;
}
#mess-view {
    height: 217px;
}
#mess-add .btn{
    width: 100%;
    background: #cdcdcd;

}
#mess-add .btn:hover {
    background: #585885;
    color: #fff;
}
.other {
    margin: 2%;
    width: 95%;
    height: 150px;
    background: #ffe;
}
